@import "variables"
@import $typeahead-mixins

.v-typeahead
  height auto
  padding-left ($padding-base-horizontal - $typeahead-tag-space)
  padding-right ($padding-base-horizontal + $typeahead-tag-space - 1) // -1: fix decimal width of text
  cursor default
  position relative

  &.open

    .v-typeahead-indicator
      transform rotate(180deg)

    .v-typeahead-dropdown
      visibility visible

  &.focus
    typeahead-focus($input-border-focus)

  &.disabled
    background-color $input-bg-disabled
    cursor not-allowed

    .v-typeahead-input
      visibility hidden

  &:after
    content ""
    clear both
    display table

  .form-lg &, &.input-lg
    padding-left ($padding-large-horizontal - $typeahead-tag-space)
    padding-right ($padding-large-horizontal + $typeahead-tag-space - 1)

    .v-typeahead-input, .v-typeahead-holder
      line-height typeahead-input-height($input-height-large)

    .v-typeahead-tag
      font-size 14px
      line-height typeahead-tag-height($input-height-large)
      border-radius 10px

    .v-typeahead-indicator
      margin typeahead-indicator-margin($input-height-large) ($padding-large-horizontal * -1) 0 0

    .v-typeahead-dropdown li
      $padding-large-horizontal

  .has-success &.focus
    typeahead-validation-focus($state-success-text)

  .has-warning &.focus
    typeahead-validation-focus($state-warning-text)

  .has-error &.focus
    typeahead-validation-focus($state-danger-text)

.v-typeahead-input, .v-typeahead-holder
  max-width s("calc(100% - %s)", $typeahead-tag-space * 2)
  line-height typeahead-input-height($input-height-base)
  margin-left $typeahead-tag-space

.v-typeahead-input
  float left
  min-width 1px
  border 0
  padding 0
  font-size inherit
  white-space nowrap
  overflow hidden
  cursor inherit
  position relative

  &:focus
    outline none

  &::-ms-clear
    display none

.v-typeahead-holder
  position absolute
  color $input-color-placeholder
  overflow hidden

  &.highlight
    color inherit

.v-typeahead-tag
  float left
  font-size 12px
  line-height typeahead-tag-height($input-height-base)
  padding 0 10px
  margin 2px 0 2px $typeahead-tag-space
  border-radius 8px
  background $typeahead-tag-bg
  vertical-align top

.v-typeahead-tag-remove
  color $typeahead-tag-remove-color
  float right
  margin-left 5px
  cursor pointer
  font-weight bold
  font-size 14px

  &:hover
    color $typeahead-tag-remove-hover

.v-typeahead-indicator
  float right
  margin typeahead-indicator-margin($input-height-base) ($padding-base-horizontal * -1) 0 0
  transition transform .3s

.v-typeahead-dropdown
  min-width 100%
  min-height 24px
  padding 0
  overflow auto
  display block
  visibility hidden

  li
    padding 0 $padding-base-horizontal
    line-height 24px

    &.active
      color $typeahead-list-item-active-color
      background $typeahead-list-item-active-bg

    &.hover
      color $typeahead-list-item-hover-color
      background $typeahead-list-item-hover-bg

    &.empty
      color $typeahead-list-item-empty-color

.v-typeahead-loading
  $size = 2px
  $space = 3px

  display inline-block
  width ($size + $space) * 3
  overflow hidden
  animation v-typeahead-loading 1s infinite
  vertical-align bottom
  white-space nowrap

  .dot
    display inline-block
    width $size
    height $size
    border-radius 50%
    background currentColor
    margin-right $space

@keyframes v-typeahead-loading
  0%
    width 0
    margin-right 15px
  33%
    width 5px
    margin-right 10px
  66%
    width 10px
    margin-right 5px
  100%
    width 15px
    margin-right 0
